<h1>Have you accepted your offer with <%= @opp.employer.name %>?</h1>

<hr>

<ul class="response-links">
  <li><%= link_to_access_token(@token, 'accepted offer', title: 'Yes', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'no change', title: 'Not Yet', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'skip', title: 'Does Not Apply', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'not interested', title: 'No Longer Interested', class: 'button') %></li>
<ul>