<h1>Have you attended your interview with <%= @opp.employer.name %> yet?</h1>

<ul class="tips">
  <li>Make a great first impression: dress to impress (match the employer's dress code), arrive 10 minutes early, and be kind and courteous (e.g. turn off your phone).</li>
  <li>If it's a phone or virtual interview: find a quiet place with a good signal and be ready 10 minutes ahead of time.</li>
  <li>Reserve some free time after the interview in case it starts late or goes longer than expected.</li>
  <li>PRO TIP: Bring copies of your resume and some business cards.</li>
</ul>

<hr>

<ul class="response-links">
  <li><%= link_to_access_token(@token, 'attended interview', title: 'Yes', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'no change', title: 'Not Yet', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'skip', title: 'Does Not Apply', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'not interested', title: 'No Longer Interested', class: 'button') %></li>
<ul>