<h1>Have you networked and talked to people who work(ed) for <%= @opp.employer.name %>?</h1>

<ul class="tips">
  <li>Use your LinkedIn and Facebook connections to reach out to people who work(ed) at the company you're aiming for.</li>
  <li>Introduce yourself, attach a resume, and ask them: "What is it like to work there? What does the interview look like? Do you think I'll be a good fit for the company and the role?"</li>
  <li>If it sounds like you're a good fit, ask for a referral: "Would you be willing to refer me internally?"</li>
  <li>PRO TIP: Keep taking feedback and revise your application materials accordingly.</li>
</ul>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'connect with employees', 'customize application materials', 'Yes' %></li>
  <li><%= link_to_status_update 'connect with employees', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'connect with employees', 'skip', 'Does Not Apply' %></li>
  <li><%= link_to_status_update 'connect with employees', 'fellow declined', 'No Longer Interested' %></li>
<ul>