<h1>Have you followed up to see your application through?</h1>

<p class="tips">
  Follow up with any contacts you have who might have some influence at the company (e.g. current and past employees, partners, clients) by sending them a copy of the resume and cover letter and asking "Would you be willing to put in a word for me to make sure my application is considered?"
</p>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'follow up after application', 'next', 'Yes' %></li>
  <li><%= link_to_status_update 'follow up after application', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'follow up after application', 'skip', 'Does Not Apply' %></li>
  <li><%= link_to_status_update 'follow up after application', 'fellow declined', 'No Longer Interested' %></li>
  <li><%= link_to_status_update 'follow up after application', 'employer declined', 'Employer Declined' %></li>
<ul>