<h1>Have you received an offer from <%= @opp.employer.name %> yet?</h1>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'receive offer', 'next', 'Yes' %></li>
  <li><%= link_to_status_update 'receive offer', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'receive offer', 'skip', 'Does Not Apply' %></li>
  <li><%= link_to_status_update 'receive offer', 'fellow declined', 'No Longer Interested' %></li>
  <li><%= link_to_status_update 'receive offer', 'employer declined', 'Employer Declined' %></li>
<ul>