<p><%= @fellow.first_name %>, we found the following opportunity for you:</p>

<p><strong><%= @opp.name %></strong> &ndash; <%= @opp.description %></p>

<ul class="response-links">
  <li class="yes"><%= button_to_status_update 'respond to invitation', 'research employer', 'Learn more' %></li>
  <li class="no-longer-interested"><%= button_to_status_update 'respond to invitation', 'fellow declined', 'Not Interested' %></li>
</ul>