<h1>Have you scheduled an interview?</h1>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'schedule interview', 'next', 'Yes' %></li>
  <li><%= link_to_status_update 'schedule interview', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'schedule interview', 'skip', 'Does Not Apply' %></li>
  <li><%= link_to_status_update 'schedule interview', 'fellow declined', 'No Longer Interested' %></li>
  <li><%= link_to_status_update 'schedule interview', 'employer declined', 'Employer Declined' %></li>
<ul>