<%= form_with(model: [:admin, opportunity_stage], local: true) do |form| %>
  <% if opportunity_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity_stage.errors.count, "error") %> prohibited this opportunity_stage from being saved:</h2>

      <ul>
      <% opportunity_stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :probability %>
    <%= form.text_field :probability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
