<h1>My Profile</h1>

<p>The following information helps Braven connect you with opportunities, and may be shared with potential employers. <%= link_to 'Keep it up to date', edit_fellow_profile_path %> to ensure you get the most relevant offers.</p>

<table>
  <tbody>
    <tr class="name">
      <th>Name:</th>
      <td><%= @fellow.full_name %></td>
    </tr>
    <tr class="new-section">
      <th>Graduation:</th>
      <td><%= @fellow.graduation_semester %> <%= @fellow.graduation_year %></td>
    </tr>
    <tr class="new-section">
      <th>Industries/Interests:</th>
      <td><%= @fellow.industry_interest_tags.gsub(';', ', ') %></td>
    </tr>
    <tr class="new-section">
      <th>Available In:</th>
      <td><%= @fellow.metro_tags.gsub(';', ', ') %></td>
    </tr>
    <tr>
      <th>Major:</th>
      <td><%= @fellow.major %></td>
    </tr>
    <tr>
      <th>Affiliations:</th>
      <td><%= @fellow.affiliations %></td>
    </tr>
    <tr>
      <th>GPA:</th>
      <td><%= @fellow.gpa %></td>
    </tr>
    <tr>
      <th>Linkedin url:</th>
      <td><%= @fellow.linkedin_url %></td>
    </tr>
    <tr>
      <th>Strength of current job:</th>
      <td><%= @fellow.employment_status.name %><br /><small><a href="https://drive.google.com/a/bebraven.org/file/d/1RAfYwl8kRP9DkhjuVLKeCmYQzIhBzKVn/view?usp=sharing">See Braven Career Accelerating Scorecard</a></small></td>
    </tr>
    <tr class="key">
      <th>Braven Key:</th>
      <td><%= @fellow.key %></td>
    </tr>
    <tr>
      <th>Receive career opportunities from Braven?</th>
      <td><%= @fellow.receive_opportunities ? 'yes' : 'no' %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_fellow_profile_path %> |
<%= link_to 'Back', root_path %>
