<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Show', admin_employer_location_path(@employer) %></td>
        <td><%= link_to 'Edit', edit_admin_employer_location_path(@employer, location) %></td>
        <td><%= link_to 'Destroy', admin_employer_location_path(@employer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_admin_employer_location_path %>
