<h1>Employment Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_statuses.each do |employment_status| %>
      <tr>
        <td><%= employment_status.name %></td>
        <td><%= link_to 'Show', admin_employment_status_path(employment_status) %></td>
        <td><%= link_to 'Edit', edit_admin_employment_status_path(employment_status) %></td>
        <td><%= link_to 'Destroy', admin_employment_status_path(employment_status), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment Status', new_admin_employment_status_path %>
