<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @opportunity_stage.name %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @opportunity_stage.probability %>
</p>

<%= link_to 'Edit', edit_opportunity_stage_path(@opportunity_stage) %> |
<%= link_to 'Back', opportunity_stages_path %>
