<p id="notice"><%= notice %></p>

<h1><%= @task.opportunity.name %>: <%= @task.name %></h1>

<p>
  <strong>Due at:</strong>
  <%= @task.due_at %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @task.notes %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
