<h1><%= @opportunity.name %>: Candidates</h1>

<p>Select candidates to notify about this opportunity, from the list below:</p>

<%= form_tag admin_opportunity_candidates_path(@opportunity), method: :get do %>
  <div id="industry_interest-tags" class="floating-search jquery-tags" style="float: left;">
    <h3>Industries/Interests</h3>
    view full <%= link_to 'industry', list_admin_industries_path, target: '_blank' %> or 
    <%= link_to 'interest', list_admin_interests_path, target: '_blank' %> lists
    <%= text_area_tag :opportunity_industry_interest_tags, params[:search][:industries_interests], name: "search[industries_interests]", class: 'auto-refresh' %>
  </div>

  <div id="metro-tags" class="floating-search jquery-tags" style="float: left;">
    <h3>Locations</h3>
    <%= link_to 'full metro areas list', list_admin_metros_path, target: '_blank' %>
    <%= text_area_tag :opportunity_metro_tags, params[:search][:metros], name: "search[metros]", class: 'auto-refresh' %>
  </div>
<% end %>

<h3 style="clear: both;"><%= pluralize(@candidates.count, 'Match')%></h3>

<%= form_tag admin_opportunity_candidates_path(@opportunity), method: :post do %>
  <table id='candidate-list' class="fellows tablesorter">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Graduation</th>
        <th>GPA</th>
        <th>Efficacy</th>
        <th>Interests</th>
        <th>Industries</th>
        <th>Locations</th>
        <th>Distance</th>
        <th>Status</th>
      
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @candidates.each do |fellow| %>
        <tr>
          <td>
            <%= check_box_tag 'candidate_ids[]', fellow.id, false, id: "candidate_ids_#{fellow.id}" %>
          </td>
          <td><%= link_to fellow.full_name, admin_fellow_path(fellow) %></td>
          <td>
            <ul>
              <% unless fellow.major.blank? %>
                <li><%= fellow.major %></li>
              <% end %>
              <li><%= fellow.graduation %></li>
            </ul>
          </td>
          <td><%= fellow.gpa || 'N/A' %></td>
          <td><%= fellow.efficacy_score || 'N/A' %></td>
          <td>
            <ul>
              <% fellow.interests.each do |interest| %>
                <li><%= interest.name %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% fellow.industries.each do |industry| %>
                <li><%= industry.name %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% fellow.metros.each do |metro| %>
                <li><%= metro.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= pluralize(fellow.nearest_distance(@opportunity.postal_codes).round, 'mile') %>
          <td><%= fellow.employment_status.name %></td>
          <td><%= link_to 'Edit', edit_admin_fellow_path(fellow), class: 'edit' %></td>
          <td><%= link_to 'Delete', admin_fellow_path(fellow), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= submit_tag 'Notify Candidates' %>
<% end %>