<%= link_to 'Add New Opportunity', new_opportunity_path, class: "button" %>
<ul>
  <li><%= link_to "Employers (#{Employer.count})", employers_path %></li>
  <li><%= link_to "Opportunities (#{Opportunity.count})", opportunities_path %></li>
  <li><%= link_to "Industries (#{Industry.count})", industries_path %></li>
  <li><%= link_to "Interests (#{Interest.count})", interests_path %></li>
  <li><%= link_to "Sites (#{Site.count})", sites_path %></li>
  <li><%= link_to "Fellows (#{Fellow.count})", fellows_path %></li>
</ul>