<p id="notice"><%= notice %></p>

<%= link_to 'Add New Opportunity', new_opportunity_path, class: "button" %>
<ul>
  <li><%= link_to "Employers", employers_path %> (<%= Employer.count %>)</li>
  <li><%= link_to "Opportunities", opportunities_path %> (<%= Opportunity.count %>)</li>
  <li><%= link_to "Industries", industries_path %> (<%= Industry.count %>)</li>
  <li><%= link_to "Interests", interests_path %> (<%= Interest.count %>)</li>
  <li><%= link_to "Sites", sites_path %> (<%= Site.count %>)</li>
  <li><%= link_to "Fellows", fellows_path %> (<%= Fellow.count %>)</li>
</ul>