<p id="notice"><%= notice %></p>

<p>
  <strong>Address 1:</strong>
  <%= @contact.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @contact.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @contact.postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contact.url %>
</p>

<p>
  <strong>Contactable:</strong>
  <%= @contact.contactable_id %>
</p>

<p>
  <strong>Contactable type:</strong>
  <%= @contact.contactable_type %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_contact_path(@contact), class: 'edit' %> |
  <%= link_to 'Back', contacts_path %>
</footer>
