<h1><%= @opportunity.name %>: Candidates</h1>

<p>Select candidates to notify about this opportunity, from the list below:</p>

<%= form_tag opportunity_candidates_path(@opportunity), method: :post do %>
  <table class="fellows">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Graduation</th>
        <th>GPA</th>
        <th>Efficacy</th>
        <th>Interests</th>
        <th>Industries</th>
        <th>Status</th>
      
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @candidates.each do |fellow| %>
        <tr>
          <td>
            <%= check_box_tag 'candidate_ids[]', fellow.id, false, id: "candidate_ids_#{fellow.id}" %>
          </td>
          <td><%= link_to fellow.full_name, fellow %></td>
          <td>
            <ul>
              <% unless fellow.major.blank? %>
                <li><%= fellow.major %></li>
              <% end %>
              <li><%= fellow.graduation %></li>
            </ul>
          </td>
          <td><%= fellow.gpa || 'N/A' %></td>
          <td><%= fellow.efficacy_score || 'N/A' %></td>
          <td>
            <ul>
              <% fellow.interests.each do |interest| %>
                <li><%= interest.name %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% fellow.industries.each do |industry| %>
                <li><%= industry.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= fellow.employment_status.name %></td>
          <td><%= link_to 'Edit', edit_fellow_path(fellow), class: 'edit' %></td>
          <td><%= link_to 'Delete', fellow, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= submit_tag 'Notify Candidates' %>
<% end %>