<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @fellow.key %>
</p>

<p>
  <strong>First name:</strong>
  <%= @fellow.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fellow.last_name %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @fellow.graduation_year %>
</p>

<p>
  <strong>Graduation semester:</strong>
  <%= @fellow.graduation_semester %>
</p>

<p>
  <strong>Graduation fiscal year:</strong>
  <%= @fellow.graduation_fiscal_year %>
</p>

<p>
  <strong>Interests description:</strong>
  <%= @fellow.interests_description %>
</p>

<p>
  <strong>Major:</strong>
  <%= @fellow.major %>
</p>

<p>
  <strong>Affiliations:</strong>
  <%= @fellow.affiliations %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @fellow.gpa %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @fellow.linkedin_url %>
</p>

<p>
  <strong>Staff notes:</strong>
  <%= @fellow.staff_notes %>
</p>

<p>
  <strong>Efficacy score:</strong>
  <%= @fellow.efficacy_score %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @fellow.employment_status_id %>
</p>

<%= link_to 'Edit', edit_fellow_path(@fellow) %> |
<%= link_to 'Back', fellows_path %>
