<p id="notice"><%= notice %></p>

<h1>Employers</h1>

<table class="action-list employers">
  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= link_to employer.name, employer %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer), class: 'button' %></td>
        <td><%= link_to 'Delete', employer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Employer', new_employer_path, class: 'button' %>
