<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Industries</strong><br>
  
  <% @employer.industries.each do |industry| %>
    <%= industry.name %><br>
  <% end %>
</p>

<%= link_to "Opportunities (#{@employer.opportunities.count})", employer_opportunities_path(@employer) %> |
<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
