<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @course.site.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_course_path(@course), class: 'edit' %> |
  <%= link_to 'Back', site_courses_path(@course.site) %>
</footer>
