<%= form_with(model: [:admin, fellow], local: true) do |form| %>
  <% if fellow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fellow.errors.count, "error") %> prohibited this fellow from being saved:</h2>

      <ul>
      <% fellow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :graduation_year %>
    <%= form.number_field :graduation_year %>
  </div>

  <div class="field">
    <%= form.label :graduation_semester %>
    <%= form.select :graduation_semester, options_for_select(Course::VALID_SEMESTERS) %>
  </div>

  <div class="field">
    <%= form.label :graduation_fiscal_year %>
    <%= form.number_field :graduation_fiscal_year %>
  </div>

  <div class="field">
    <%= form.label :interests_description %>
    <%= form.text_area :interests_description %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="field">
    <%= form.label :affiliations %>
    <%= form.text_area :affiliations %>
  </div>

  <div class="field">
    <%= form.label :gpa %>
    <%= form.text_field :gpa %>
  </div>

  <div class="field">
    <%= form.label :linkedin_url %>
    <%= form.text_field :linkedin_url %>
  </div>

  <div class="field">
    <%= form.label :staff_notes %>
    <%= form.text_area :staff_notes %>
  </div>

  <div class="field">
    <%= form.label :efficacy_score %>
    <%= form.text_field :efficacy_score %>
  </div>

  <div class="field">
    <%= form.label :employment_status_id %>
    <%= form.collection_select(:employment_status_id, EmploymentStatus.all, :id, :name) %>
  </div>
  
  <hr>

  <%= render 'admin/contacts/nested_form', form: form %>
  
  <h3>Industries/Interests</h3>

  <%= link_to 'full industries/interests list', combined_admin_industries_path, target: '_blank' %>

  <div id="industry-interest-tags" class="jquery-tags">
    <%= form.text_area :industry_interest_tags %>
  </div>
  
  <h3>Metro Areas</h3>
  
  <%= link_to 'full metro areas list', list_admin_metros_path, target: '_blank' %>

  <div id="metro-tags" class="jquery-tags">
    <%= form.text_area :metro_tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
