<p>Fellow Info:</p>
<h1><%= @fellow.first_name %> <%= @fellow.last_name %></h1>

<table>
  <tbody>
    <tr class="key">
      <th>Key:</th>
      <td><%= @fellow.key %></td>
    </tr>
    <tr>
      <th>First name:</th>
      <td><%= @fellow.first_name %></td>
    </tr>
    <tr>
      <th>Last name:</th>
      <td><%= @fellow.last_name %></td>
    </tr>
    <tr class="new-section">
      <th>Graduation year:</th>
      <td><%= @fellow.graduation_year %></td>
    </tr>
    <tr>
      <th>Graduation semester:</th>
      <td><%= @fellow.graduation_semester %></td>
    </tr>
    <tr>
      <th>Graduation fiscal year:</th>
      <td><%= @fellow.graduation_fiscal_year %></td>
    </tr>
    <tr>
      <th>Major:</th>
      <td><%= @fellow.major %></td>
    </tr>
    <tr>
      <th>Affiliations:</th>
      <td><%= @fellow.affiliations %></td>
    </tr>
    <tr>
      <th>Gpa:</th>
      <td><%= @fellow.gpa %></td>
    </tr>
    <tr>
      <th>Linkedin url:</th>
      <td><%= @fellow.linkedin_url %></td>
    </tr>
    <tr>
      <th>Staff notes:</th>
      <td><%= @fellow.staff_notes %></td>
    </tr>
    <tr>
      <th>Efficacy score:</th>
      <td><%= @fellow.efficacy_score %></td>
    </tr>
    <tr>
      <th>Employment status:</th>
      <td><%= @fellow.employment_status.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_fellow_path(@fellow) %> |
<%= link_to 'Back', admin_fellows_path %>
