<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity Name:</strong>
  <%= @opportunity.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @opportunity.employer.name %>
</p>
<p>
  <strong>Job Posting URL:</strong>
  <%= @opportunity.job_posting_url %>
</p>
<p>
  <strong>Description:</strong>
  <%= @opportunity.description %>
</p>

<%= render 'industries/list', object: @opportunity %>
<%= render 'interests/list', object: @opportunity %>

<%= link_to 'Find Candidates', opportunity_candidates_path(@opportunity), class: "button" %>

<footer class="actions">
  <%= link_to 'Edit', edit_opportunity_path(@opportunity), class: 'edit' %> |
  <%= link_to 'Back', :back, class: 'back' %>
</footer>
