<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity Name:</strong>
  <%= @opportunity.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @employer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opportunity.description %>
</p>

<%= render 'industries/list', object: @opportunity %>
<%= render 'interests/list', object: @opportunity %>

<%= link_to 'Edit', edit_employer_opportunity_path(@employer, @opportunity) %> |
<%= link_to 'Back', :back %>
