<p id="notice"><%= notice %></p>

<h1><%= @site.name %></h1>

<h2>Courses</h2>
<%= render "courses/list", courses: @site.courses %>
<br />
<%= link_to 'Add Course', new_site_course_path(@site), class: 'button' %>

<footer class="actions">
  <%= link_to 'Edit', edit_site_path(@site), class: 'edit' %> |
  <%= link_to 'Back', sites_path, class: 'back' %>
</footer>