<!DOCTYPE html>
<html>
  <head>
    <title>My Career Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="masthead">
      <h1><%= link_to 'My Career Manager', root_path %></h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
