<!DOCTYPE html>
<html>
  <head>
    <title>My Career Manager &mdash; Braven</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="https://bebraven.org/wp-content/themes/bebraven/favicon.ico">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="masthead">
      <div id="header-logo">&nbsp;</div>
      <h1><%= link_to 'My Career Manager', root_path %></h1>
      <%= link_to 'Sign Out', destroy_sso_user_session_path, method: :delete, class: 'logout button' %>
    </header>
    <main>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
  </body>
</html>
